.dashboard-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #121212; /* Dark background */
  color: #e0e0e0; /* Light text color */
}

.dashboard-widgets {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  width: 100%;
  max-width: 1200px;
}

.actions-container {
  margin-top: 30px;
  display: flex;
  gap: 20px;
}

.dashboard-btn {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: #2e2e2e; /* Button background in dark mode */
  color: #ffffff; /* Button text color in dark mode */
  transition: background-color 0.3s, opacity 0.3s; /* Smooth transition for hover effects */
}

.signout-btn {
  background-color: #d32f2f; /* Slightly darker red for signout in dark mode */
  color: white;
}

.delete-btn {
  background-color: #b71c1c;
  color: white;
}

.dashboard-btn:hover {
  background-color: #444444; /* Darker hover state for buttons */
  opacity: 0.9;
}

canvas {
  max-width: 100%;
  height: auto;
}

/* Responsive */
@media (max-width: 600px) {
  .dashboard-widgets {
    grid-template-columns: 1fr;
  }
}

p {
  text-align: center; /* Centered paragraph text */
}

.welcome-section {
  text-align: center;
  margin-bottom: 20px;
}

.role-tag {
  display: inline-block;
  padding: 5px 10px;
  font-size: .7em;
  border-radius: 15px;
  border: 1px solid transparent;
  color: #ffffff;
  font-weight: bold;
}

.role-tag.freelancer {
  background-color: #295442; 
  border-color: #31634e;
}

.role-tag.employer {
  background-color: #3e66a3; 
  border-color: #5174a9;
}

.role-tag.no-role {
  background-color: #6c757d;
  border-color: #6c757d;
}

