/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #1e1e1e;
  border-radius: 5px;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

/* Button Containers */
.left-buttons,
.right-buttons {
  display: flex;
  gap: 10px;
}

/* General Navbar Item Styling */
.nav-item {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  font-size: 1rem;
  line-height: 1.5;
  background-color: #295442;
}

.nav-item:hover {
  background-color: #1f4032;
}

/* Specific Button Styles */
.nav-item.profile-btn {
  background-color: #f39c12;
}

.nav-item.profile-btn:hover {
  background-color: #cc8310;
}

.nav-item.settings-btn {
  background-color: #e74c3c;
}

.nav-item.settings-btn:hover {
  background-color: #ba3d30;
}

.nav-item.reimbursement-btn,
.nav-item.deductions-btn {
  background-color: #3e66a3;
}

.nav-item.reimbursement-btn:hover,
.nav-item.deductions-btn:hover {
  background-color: #304b74;
}

/* Notifications Button */
.notifications-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 20px;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  font-size: 1rem;
  line-height: 1.5;
  background-color: #3e66a3;
}

.notifications-btn:hover {
  background-color: #304b74;
}

.dropdown {
  position: relative;
  color: white;
  background-color: #296187;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.notification-count {
  position: absolute;
  top: -4px;
  right: -4px;
  background-color: red;
  color: rgb(255, 255, 255);
  font-size: 10px;
  font-weight: bolder;
  padding: 2px 2px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 16px;
}
