body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #121212; /* Dark mode background */
  color: #e0e0e0; /* Light text for dark mode */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  color: #e0e0e0; /* Light text for code blocks in dark mode */
}

/* Styling scrollbars for Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 8px; 
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #2e2e2e; /* Dark background for scroll track */
}

::-webkit-scrollbar-thumb {
  background-color: #555; /* Slightly lighter scrollbar thumb */
  border-radius: 10px; 
  border: 2px solid transparent; 
}

::-webkit-scrollbar-thumb:hover {
  background: #888; /* Lighten on hover for better visibility */
}

/* Styling scrollbars for Firefox */
* {
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: #555 #2e2e2e; /* Dark thumb and dark track for consistency */
}
